* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #393e46;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1 {
  padding: 20px;
  text-align: center;
  color: #4ecca3;
  font-size: 5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  margin: 20px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  color: #4ecca3;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-style: normal;
}

footer {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
button {
  background-color: #4ecca3;
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3ba889;
}

@media (max-width: 600px) {
  .game {
    gap: 20px;
    flex-direction: column;
  }
}
