* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #393e46;
}

h1 {
  padding: 20px;
  text-align: center;
  color: #4ecca3;
  font-size: 5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  margin: 20px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  color: #4ecca3;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-style: normal;
}

footer {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
}
